# Aufgabenblatt 2 (André Glatzl)

### Aufgabe 6

In [16]:
# Umwandeln von Tage in Stunden
days = 11
hours = days*24
minutes = hours*60
seconds = minutes*60
print(seconds)

950400

### Aufgabe 7

In [17]:
# (a)
astring = "annannannannanna"
print(astring.replace("anna","maria"))

mariannmariannmaria

In [18]:
# (b)
bstring = ""+str(19 == (4+7)*3 -14)
print(bstring.upper())

TRUE

In [19]:
# (c)
astring = "annannannannanna"
print(astring.replace("a","b").replace("bn","cx"))

cxncxncxncxncxnb

In [20]:
# (d)
cstring = "Peter"
dstring = "Pferd"
print(cstring.index("e")==dstring.index("f"))

True

### Aufgabe 8

In [21]:
# (a)
vorname = "André"
# (b)
nachname = "Glatzl"
# (c)
name = " ".join([vorname, nachname])
# (d)
upperName = name.upper()
print(upperName)

ANDRÉ GLATZL

### Aufgabe 9

In [22]:
# (a)
print(float("3.1415"))

3.1415

Es wird die Dezimalzahl **3.1415** angezeigt.

In [23]:
# (b)
test = 100
test = "" + test
print(test *2)

TypeError: can only concatenate str (not "int") to str

Es gibt eine Fehlermeldung bei test = "" + test, da man String-Variablen nicht mit Integer-Variablen konkatenieren darf.

In [27]:
# (c)
xyz = "7"
pot = 3**int(xyz)
print(pot)

2187

Es wird die Integerzahl **2187** angezeigt.

In [25]:
# (d)
test2 = "100"
test2 = "1" + test2
print(int(test2)*5)

5500

Es wird die Integerzahl **5500** angezeigt.

### Aufgabe 10

In [26]:
s = input("s: ")
z = input("z: ")
if len(z) != 1:
    raise Exception("Die Variable z muss/darf nur eine Ziffer haben")
print("Teilstrings: ")
print(s.split(z))

s:  ljljl
z:  l

Teilstrings:
['', 'j', 'j', '']